*{
  border: solid black 1px;
}
/* .btn {
  position: relative;
} */

i, h3,.uno{
  color:white;
}

h3{
  text-decoration: underline;
}
img{
  height: 200px;
  width: 200px;
}
p{
  text-align: center;
}
h3,h4,h5{
  text-align: center;
}
h6{
  
  text-align: right;
}
/* button{
  align-items: center;
} */
